@model IEnumerable<Presentacion.Models.HabitacionModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Consultas</h1>

<h2>Elija la forma de consultar (Por Cedula de Cliente o por Codigo de reserva)</h2>
@using (Html.BeginForm("ValorSeleccionado", "Reserva", FormMethod.Post))
{
    <label>Seleccione una opcion:</label>
    @Html.DropDownList("ddlFiltro", (List<SelectListItem>)ViewBag.Listado)
    <br />
    <label>Digite la cedula o el codigo de reserva:</label>
    @Html.TextBox("TextBoxInfo","")
    <br />
    <input type="submit" value="Buscar" />

}


<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

